#HeadTitle{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    
    
}
hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 20px;

}

#FlexBoxTemp{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.FlexBoxTempItem{
    border-style: solid;
    border-color: black;
    padding: 90px;
}


/* .BG{
    position: absolute;
    background-image:url("https://besthqwallpapers.com/Uploads/15-4-2019/87596/thumb2-blue-ice-texture-4k-ice-cracks-macro-blue-ice-background.jpg");
    
    height: 100px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
} */