#HeadTitle{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    
    
}
hr{ /*en tag i HTML som gör en ruta */
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 20px;

}

#FlexBoxContainer{
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    
}
.FlexBoxTempItem{
    display: flex;
    background-color: #6b6b6b;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 19.5%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
.TempHeading{
    align-self: center;
    color: white;
    justify-content: flex-end;
    
    
}

.But{
    transition-duration: 0.4s;
    border-color: turquoise;
    background-color: white;
    font-size: 22px;
    border-radius: 13px;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 2%;
    margin-right: 2%;
    
    
}
.But:hover{
    background-color: rgb(29, 61, 58);
    color: white;
}
.Temp{
    color: thistle;
    font-size: 25px;align-self: center;
}
.Hum{
    color: wheat;
    font-size: 25px;
    align-self: center;
}
   
    
.UnitChooser{
    position: relative;
    top: 2px;
    margin-bottom: 7px;
    
}
#UnitChooserBox{
    position: relative;
    margin-top: -100px;
    border-style: solid;
    width: 15%

}
#UnitText{
    margin-left: 2%;
}
body, html{
    height: 100%;
}
* {
    box-sizing: border-box;
  }
  
  #bg-image {
    /* The image used */
    background-image: url("https://besthqwallpapers.com/Uploads/15-4-2019/87596/thumb2-blue-ice-texture-4k-ice-cracks-macro-blue-ice-background.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -69;
  }
  #webText {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }